.header{
    height: 400px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #8cc7ac;
}
.img01{
    height: 250px;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50%;
    





}